// -----------------------------------------------------------------------------
// This file contains all styles related to the Header component.
// -----------------------------------------------------------------------------

header {
  color: white;
  padding: 5px 25px;
  display: flex;
  height: 70px;
  align-items: center;
  text-transform: uppercase;

  img {
	 padding-right: 10px;
  }
}