// -----------------------------------------------------------------------------
// This file contains all styles related to the Header component.
// -----------------------------------------------------------------------------

header {
  background: #108ee9;
  color: white;
  padding: 5px 25px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}